:root {
  --background: #202124;
  --foreground: #ffffff;
  --primary: #A855F7;
  --primary-hover: #7E22CE;
  --blue: #06B6D4;
  --red: #EF4444;
  --green: #84CC16;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100vh;
  min-width: 100vw;
  padding: 80px;
  display: flex;
  flex-direction: column;
  gap: 80px;
  justify-content: space-between;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

h1 {
  color: var(--primary);
  font-size: 64px;
  line-height: 80px;
}

p {
  font-size: 16px;
  line-height: 32px;
}

footer {
  display: flex;
  justify-content: flex-end;
}